*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    overflow-x: hidden;
    animation: bodya 10s linear infinite;
}


@keyframes bodya {
    0%{
        background-color: blueviolet;
    }
    23%{
        background-color: blueviolet;
    }
    35%{
        background-color: rgb(49, 12, 83);
    }
    80%{
        background-color: rgb(49, 12, 83);
    }
    90%{
        background-color: blueviolet;
    }
    100%{
        background-color: blueviolet;
    }
}

#sundiv{
    position: absolute;
    width: 15%;
    top: 20px;
    left: 100px;
}

#sundiv img{
    width: 100%;
    vertical-align: bottom;
    z-index: -100;
    animation: sun 10s linear infinite;
    filter: grayscale(0);
}

@keyframes sun {
    0%{
        filter: grayscale(0);
    }
    23%{
        filter: grayscale(0);
    }
    35%{
        filter: grayscale(1);
    }
    80%{
        filter: grayscale(1);
    }
    90%{
        filter: grayscale(0);
    }
    100%{
        filter: grayscale(0);
    }
}

.cloud1{
    z-index: 10;
    position: absolute;
    top: 10px;
    right: -40%;
    width: 60%;
    animation: cloud1 10s linear infinite;
}

.cloud1 img{
    width: 100%;
    vertical-align: bottom;
}

.cloud2{
    z-index: 10;
    position: absolute;
    top: 50px;
    right: -30%;
    width: 50%;
    animation: cloud2 10s linear infinite;
}

.cloud2 img{
    width: 100%;
    vertical-align: bottom;
}

.cloud3{
    z-index: 10;
    position: absolute;
    top: 0px;
    right: -20%;
    width: 55%;
    animation: cloud3 10s linear infinite;
}

.cloud3 img{
    width: 100%;
    vertical-align: bottom;
}


@keyframes cloud1 {
    from{
        right: 0;
    }
    to{
        right: 100%;
    }
}

@keyframes cloud2 {
    from{
        right: -10%;
    }
    to{
        right: 100%;
    }
}

@keyframes cloud3 {
    from{
        right: -20%;
    }
    to{
        right: 100%;
    }
}
